body {
    font-family: Arial, sans-serif;
    background: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #0099cc;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  #waterfalls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }
  
  .card {
    background: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
 